/* General styles for the app */
.App-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

.logo {
  width: 80px; /* Default logo size */
  height: auto;
}

h2 {
  font-size: 1.5rem;
  color: #333333; /* Dark color for the heading text */
  margin-left: 20px; /* Space between the logo and the heading */
}
h5 {
  color: #333333; /* Dark color for the heading text */
  margin-left: 5px; /* Space between the logo and the heading */
  padding-top: 3px;
}
/* Styles for the main content area */
.container {
  background-color: #f5f5f5; /* Light gray background for content */
  padding: 20px;
  border-radius: 8px;
}

.card {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for card effect */
}

.btn-primary {
  background-color: #d23333; /* Match red color from the logo */
  border-color: #d23333;
}

.btn-primary:hover {
  background-color: #c02727;
  border-color: #c02727;
}

img {
  max-width: 100%;
  height: auto; /* Ensure images are responsive */
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  .logo {
    width: 50px; /* Smaller logo for mobile devices */
  }

  h2 {
    font-size: 1.2rem; /* Adjust the heading size for smaller screens */
  }

  .container {
    padding: 10px; /* Less padding on smaller screens */
  }

  .card {
    margin-bottom: 20px; /* Add more spacing between cards */
  }
}
